{% extends 'base.html' %}

{% block header %}
  <h2 class="text-slate-900 text-lg font-bold my-2">{% block title %}Nuevo mensaje{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('inbox.send')}}" class="px-4">
    <label for="to" class="text-sm">Para</label>
    <input type="text" name="to" id="to" class="rounded-md mb-4 text-sm" required>
    <label for="subject" class="text-sm">Asunto</label>
    <input type="text" name="subject" id="subject" class="rounded-md mb-4 text-sm" required>
    <label for="body" class="text-sm">Mensaje</label>
    <textarea name="body" id="body" rows="3" class="rounded-md mb-6 text-sm" required ></textarea>
    <input type="submit" value="Enviar" class="w-full bg-blue-600 text-white rounded-md py-2 cursor-pointer hover:bg-blue-700">
  </form>
{% endblock %}