<!doctype html>
<html class="bg-slate-800">
  <head>
    <title>{% block title %}{% endblock %} - Myapp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,200,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="max-w-xl mx-auto rounded-md">
    <nav class="rounded-t-md bg-sky-500">
      <h1 class="text-3xl text-white font-bold px-0 my-5 ml-3">
        <span class="material-symbols-outlined">
          forum
        </span>
          Chat Grupo 9</h1>
      <div class="m-0 flex items-center text-sm text-white">
        {% if g.user %}
        <a href="{{ url_for('inbox.show') }}" class="flex place-items-center">
          <span class="material-symbols-outlined">
            account_circle
            </span>{{ g.user['username'] }}
          </a>
           <a href="{{ url_for('auth.logout') }}" class="mx-4 hover:underline">Cerrar sesión</a>
        {% else %}
          <a href="{{ url_for('auth.register') }}" class="hover:underline">Registrarse</a>
          <a href="{{ url_for('auth.login') }}" class="mx-4 hover:underline">Iniciar sesión</a>
        {% endif %}
          </div>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash rounded-md bg-cyan-100 text-slate-900 text-sm text-center">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>